p{
    word-break: break-all;
}

Testimonials {
    background:
      /* top, transparent red, faked with gradient */
      linear-gradient(
        rgba(255, 0, 0,),
        rgba(255, 0, 0, 0.45)
      ),
      /* bottom, image */
      url(image.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
  }

  .projects-container{
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-between;
  }

  .projects-container img{
      max-width: 400px;
      max-width: 100%;
      max-height: 300px;
      flex-grow: 1;
      object-fit: cover;
  }