p{
    word-break: break-all;
}

#Testimonials {
    background:
      /* top, transparent red, faked with gradient */
      linear-gradient(
        rgba(255, 0, 0,),
        rgba(255, 0, 0, 0.45)
      ),
      /* bottom, image */
      url("/images/Reagan1.jpg");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
  }

  .projects-container{
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-between;
  }

  .Rounded{
      border-radius: 50%;
  }

  .projects-container img{
      max-width: 400px;
      max-width: 100%;
      max-height: 300px;
      flex-grow: 1;
      object-fit: cover;
  }

  .testimonialCircle{
      width: 15px;
      aspect-ratio: 1 !important;
      height: auto !important;
      border-radius: 50% !important;
  }